In [122]:
import pandas as pd

age = pd.read_csv('data/grunnkrets_age_distribution.csv')
age

,grunnkrets_id,year,age_0,age_1,age_2,age_3,age_4,age_5,age_6,age_7,...,age_81,age_82,age_83,age_84,age_85,age_86,age_87,age_88,age_89,age_90
0,16013117,2015,14,14,14,14,13,13,12,11,...,0,0,0,0,0,0,0,0,0,0
1,16013117,2016,10,10,10,10,10,10,9,9,...,0,0,0,0,0,0,0,0,0,0
2,11030206,2015,5,5,5,5,5,4,4,3,...,0,0,0,0,0,0,0,0,0,0
3,16011203,2016,2,2,2,2,2,3,3,3,...,1,1,1,1,1,1,1,0,0,0
4,3011601,2016,7,7,7,7,6,6,5,4,...,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22615,9400104,2016,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22616,9400106,2015,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,0,0,0,0
22617,9400108,2015,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,0,0,0,0
22618,9400108,2016,0,1,1,0,0,0,1,1,...,1,1,1,1,1,1,0,0,0,0
22619,9400109,2016,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0

In [123]:
age_ranges = [
    (0, 19),
    (20, 39),
    (40, 59),
    (60, 79),
    (80, 90),
]

age_new = age[['grunnkrets_id', 'year']].drop_duplicates(subset=['grunnkrets_id'], keep='last')

for rng in age_ranges:
    cols = [f'age_{age}' for age in range(rng[0], rng[1] + 1)]
    rng_sum = age[cols].sum(axis=1)
    age_new[f'age_{rng[0]}_{rng[-1]}'] = rng_sum

age = age.drop_duplicates(subset='grunnkrets_id').drop(columns=['year', *(f'age_{age}' for age in range(0, 91))], axis=1)
age = age.merge(age_new, on='grunnkrets_id')

22620